/* min-width: clamp(0px, 99999 * (300px - 100%), 100%); */
* {
  --breakpoint: 300px;
  --multiplier: 999;
}

.containers {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.containers > .profile {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 4px;
  background-color: bisque;
}

.containers > .button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: max-content;
}

.containers > .button-row > button {
  min-width: clamp(0px, 99999 * (var(--breakpoint) - 100%), 100%);
  flex-grow: 1;
}
